/GenericUndoRedoManagerAPI/bin
/GenericUndoRedoManagerAPI/obj
/MinecraftTextureEditorAPI/bin
/MinecraftTextureEditorAPI/obj/
/MinecraftTextureEditorUI/bin/
/MinecraftTextureEditorUI/obj/
/ZipFileManager/obj/
/ZipFileManager/bin
/MinecraftTextureEditorInstaller/Debug/
/MinecraftTextureEditorInstaller/Release/MinecraftTextureEditorInstaller.msi
/MinecraftTextureEditorInstaller/Release/setup.exe
/MinecraftTextureEditorInstaller/Release/
/MinecraftTextureEditorInstaller/Debug/setup.exe
.vs/
/.vs/MinecraftTextureEditor/v16/.suo
/GitExtensions.settings
