/GenericUndoRedoManagerAPI/bin
/GenericUndoRedoManagerAPI/obj
/MinecraftTextureEditorAPI/bin
/MinecraftTextureEditorAPI/obj/
/MinecraftTextureEditorUI/bin/
/MinecraftTextureEditorUI/obj/
/ZipFileManager/obj/
/ZipFileManager/bin
/MinecraftTextureEditorInstaller/Debug/
/MinecraftTextureEditorInstaller/Release/MinecraftTextureEditorInstaller.msi
/MinecraftTextureEditorInstaller/Release/setup.exe
